body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

footer {
    color: #E5E7EB;
    text-align: center;
}

.hero-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.hero-panel img {
    height: 400px;
    width: auto;   
    margin: 30px;
    border-radius: 1%;
    border: 2px solid #E5E7EB;
}

.hero-panel h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-panel p {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 100%;
}

.hero-panel button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}

.information-panel {
    background-color: #FFFFFF;
}

.information-panel p {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.information-boxes {
    display: flex;
    justify-content: space-around;
    margin: 0 10vw;
    padding-bottom: 1.5em;
}

.information-boxes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14vw;
}

.information-boxes img {
    max-width: 100%;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

figcaption {
    text-align: center;
}

